/* Cascading Style Sheet */

/* animation linear gradient background */

body {
    height: 110vh;
    /* add the following below↓ */
    background: linear-gradient(132deg, #ec5118cb, #1665c1);
    background-size: 400% 400%;
    animation: BackgroundGradient 20s ease infinite;
    color: white;
    text-align: center;
}

/* this is an addon for the container box↓↓ */

.container {
    max-width: 800px;
    width: 100%;
}

.glow {
    height: auto;
    font-size: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: dotted white 20px;
    box-shadow: 0px 4px 50px #ff8383;
}

/* Center corresponding child elements within its grid area */

.center {
    display: flex;
    justify-content: center;
}

/* styling title */

/* add transparent ↓ */

.titleBG {
    background-color: transparent;
    /* background-color: rgb(80, 63, 230); */
}

/* remove background color and box shadow↓ */

#title {
    /* margin-top: 25px; */
    font-size: 300px;
    /* line-height: 90%; */
    /* font-weight: 600; */
    font-family: 'Monoton', cursive;
    /* font-style: italic; */
    /* background-color: rgb(80, 63, 230); */
    /* box-shadow: 5px 5px 10px black; */
    /* padding: 10px 10px 10px 10px; */
    /* color: pink; */
}

/* add keyframes for animation on top↓ 
learn more at https://www.w3schools.com/css/css3_animations.asp */

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.subtitle {
    color: white;
}

/* .extraMargin {
    margin-top: 50px;
} */

.nameGenBG {
    margin-top: 50px;
    /* change background color↓ */
    background-color: #ffffff27;
    /* padding-bottom: 50px; */
    /* add border-radius: ↓ */
    /* border-radius: 40px; */
}

#name {
    font-family: 'Lobster', cursive;
    /* change font size to smaller↓ */
    font-size: 60px;
    margin: 50px;
    /* change font color↓ */
    color: white;
    /* font-weight: bold; */
}

/* .marginRight {
    margin-right: 30px;
} */

/* Editing styling for btn group and NameGen Btn */

.btnSize {
    padding: 15px 15px 15px 15px;
    margin-bottom: 50px;
    font-size: 30px;
}

.buttonPadding {
    font-size: 25px;
    /* change color text to white ↓ */
    color: white;
}

.btn:hover {
    /* change button hover color and text ↓ */
    background-color: #52474380;
    color: #ff33f1;
}

.btn {
    border-radius: 20px;
    padding: 15px 50px !important;
}

.footer {
    /* height: 50px; */
    width: 100%;
    /* background-color: transparent; */
    color: white;
    /* changed font size ↓ */
    font-size: 15px;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    /* border: solid white 1px; */
    padding: 25px 0;
}
